.form-container {
  padding: 20px;
}

.card {
  background-color: white;
  box-shadow: 2px 1px 4px grey;
  padding: 20px 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.formUpper {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
}

#creatGroup {
  display: block;
  margin-top: 5px;
  padding: 5px;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  padding: 5px;
}

.field {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.error {
  color: red;
}

.array-field {
  margin-top: 20px;
}

.array-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.array-input {
  flex: 1;
  margin-right: 10px;
}

.array-input input {
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
